<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @quit.user_id %>
</p>

<p>
  <strong>Length:</strong>
  <%= @quit.length %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @quit.start_date %>
</p>

<p>
  <strong>Substance:</strong>
  <%= @quit.substance %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @quit.investment %>
</p>

<%= link_to 'Edit', edit_quit_path(@quit) %> |
<%= link_to 'Back', quits_path %>
