<p id="notice"><%= notice %></p>

<p>
  <strong>Submitted roll call:</strong>
  <%= @checkpoint.submitted_roll_call %>
</p>

<p>
  <strong>Roll call:</strong>
  <%= @checkpoint.roll_call %>
</p>

<p>
  <strong>Stayed clean:</strong>
  <%= @checkpoint.stayed_clean %>
</p>

<p>
  <strong>Date:</strong>
  <%= @checkpoint.date %>
</p>

<%= link_to 'Edit', edit_checkpoint_path(@checkpoint) %> |
<%= link_to 'Back', checkpoints_path %>
