<%= render 'header' %>
<div class="pages_layout">
  <div class="home">
    <section class="main_img">
      <div class="row">
        <div class="large-10 large-centered columns">
          <h1>Dropkick your addiction</h1>
        </div>
      </div>
    </section>
    <section class="addiction">
      <div class="row">
        <ul>
          <li>
            <h2>Addiction Is Paralyzing</h2>
            <p>It pins you down and whispers into your ear that you can’t get up. While you lie there helpless, it slowly takes your life away. Mocking you as you cry from within.</p>
          </li>
          <li>
            <h2>Stand Up.</h2>
            <p>Everyone that built this app has been exactly where you are. We built this app to get you off of that mat. We built this app to save your life. Put your faith in us, and we will see you through this.</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="steps_to_success">
      <div class="row">
        <h1 class="headline">Three Critical Components</h1>
      </div>
      <div class="row">
        <ul class="critical_components">
          <li>
            <i class="fa fa-usd"></i>
            <h3 class="heading">Skin In The Game</h3>
            <p>Simply saying to yourself, “I am done for good” is nothing more than you talking to yourself. You need to physically invest in quitting. To use DropQuit, you have to put $200 or more down on your quit. If you stay quit for 100 days, we will return your money plus a gift. Should you fail, we will donate the money to a charity of your choosing.</p>
          </li>
          <li>
            <i class="fa fa-group"></i>
            <h3 class="heading">Community</h3>
            <p>The second step is community. It is through learning and supporting each other that we gain the insights and courage we need to avoid that “I’ll just have one” moment. By joining this app, you will be part of a tight-knit group of people that want to help you quit, and want you to help others quit as well.</p>
          </li>
          <li>
            <i class="fa fa-microphone"></i>
            <h3 class="heading">Daily Roll Call</h3>
            <p>The last step is Daily Roll call. To replace one bad habit, we must form an opposing good one. Every day, you and all of your group members will make an oath to each other that you will not use any form of tobacco that day. This is the lifeblood of your quit and is required to complete the program.</p>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="critical_components_form">
          <li>
            <div class='row'>
              <div class="small-12 large-10 large-centered columns">
                <div class="row collapse">
                  <div class="small-4 large-4 columns">
                    <span class="prefix">$USD</span>
                  </div>
                  <div class="small-8 large-8 columns">
                    <%= text_field_tag :amount, nil, placeholder: "200.00" %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <%= select_tag :group, options_for_select(["I'm A Smoker","I Use Chewing Tobacco"]) %>
          </li>
          <li>
            <%= text_area_tag :roll_call, "Day 1 of my quit and I will not use today." %>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="large-6 large-centered columns">
          <%= link_to "HELP ME QUIT", "#", class: 'button large radius home_page_sign_up_btn' %>
        </div>
      </div>
    </section>
    <section class="fight_with_us">
      <div class="row">
        <div class="large-6 medium-8 small-12 medium-centered large-centered columns">
          <ul>
            <li>
              <h1>Fight With Us.</h1>
              <p>This is your life – take it back right now. Not tomorrow or next week. There is only one time to quit – it is right here, and right now. Get off the mat and start kicking the crap out of your addiction. It is your turn.</p>
              <%# label_tag :email, 'Submit Your Email' %>
            <div class="row collapse">
              <div class="small-9 columns">
                <input type="text" placeholder="Email">
              </div>
              <div class="small-3 columns">
                <a href="#" class="button postfix">LET'S FIGHT.</a>
              </div>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
